.btn {
  border: none;
  background: none;
  font-family: inherit;
  padding: 10px 25px;
  font-size: 2rem;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    transition: $transiton-time;
  }
  &:disabled {
    background-color: grey;
    color: black;
    &:hover {
      background-color: grey;
      color: black;
    }
  }
  &--md {
    font-size: 1.8rem;
    padding: 5px 15px;
  }
  &--sm {
    font-size: 1.8rem;
    padding: 3px 10px;
  }

  &--xm {
    font-size: 1.3rem;
    padding: 0px 3px;
  }

  &--primary {
    background-color: $color-primary;
    color: white;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  &--primary-alt {
    border: 1px solid;
    border-color: $color-primary;
    color: $color-primary;
    &:hover {
      border-color: black;
      color: black;
    }
  }
}

.btn-fluid {
  @extend .btn;
  width: 100%;
}
